.table {
  padding: var(--padding-half);
  margin: var(--padding-half);
  background-color: var(--caption-color);
  color: white;
  border-radius: 3px;
  height: fit-content;
  td {
    padding: var(--padding-half);
  }
  tfoot {
    border-top: 3px solid white;
  }
}

@media (max-width: 1024px) {
  .table {
    display: none;
  }
}
